<!--
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Author:</strong>
  <%= @article.author %>
<!-- </p>
<%= image_tag(@article.image.url, alt: 'Image') if @article.image? %>

<p> -->
  <!-- <strong>Text:</strong>
  <%= @article.text %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %>
<div id=nav> <%= link_to 'Back', articles_path %></div> --> -->
