<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>oe</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>

  </head>

  <body style="padding-top: 20px">
    <div class="container-fluid" style="padding-bottom: 20px">


  	  <div id="nav" class="dropdown">
        <div>
<li>
            <a class="btn btn-secondary btn-sm dropdown-toggle" style="border-color:#fff;text-align:inherit; padding:3px; margin:2px" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              .us
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="steve">steve</a>
              <a class="dropdown-item" href="Estefania">estefania</a>
              <a class="dropdown-item" href="about">contact</a>
              <a class="dropdown-item" href="recomendations">recomendations</a>
            </div>
</li>

          <li>
             <div class="dropdown">
               <a class="btn btn-secondary btn-sm dropdown-toggle" style="border-color:#fff;padding:3px; margin:2px" role="button" style" border-color:#255255" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">posts
               </a>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                 <a class="dropdown-item" href="lifestyle">lifestyle</a>
                 <a class="dropdown-item" href="travel">travel</a>
                 <a class="dropdown-item" href="relationship">relationship</a>
                 <a class="dropdown-item" href="fitness">fitness</a>
               </div>
             </div>
           </li>

  			   <li>
             <a class="btn btn-secondary btn-sm" role="button" style="border-color:#fff;padding:3px; margin:2px" href="joinus">
            downloads</a>
          </li>
  			  <span> <a href="nothing" class="nothing" style="font-size:20px">•</a> </span>
  			  <li>
            <a class="btn btn-secondary btn-sm" role="button" style="border-color:#fff;padding:3px; margin:2px" href="store">
             store</a>
           </li>
          <span style="padding-left: 10px; color: #C0C0C0"> | </span>
         <li>
          <a href="https://www.instagram.com/oenomel.us/" target="_blank"> <i class="fa fa-instagram fa-lg " aria-hidden="true"></i></a>
         </li>
         <span>   </span>
         <li>
          <a href="http://www.pinterest.com/oenomel0808" target="_blank"> <i class="fa fa-pinterest-square fa-lg " aria-hidden="true"></i></a>
         </li>
         <span>   </span>
         <li>
          <a href="https://www.instagram.com/dies.ist.uns/" target="_blank"> <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
         </li>
         <span>   </span>
         <li>
          <a href="https://www.facebook.com/oenomel.us" target="_blank"> <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
         </li>
       </div>
      </div>
     </div>
  <div class="container-fluid" style="padding-right:15%; padding-left:30%;" >
    <div class="row">
      <a href="/"><img src="assets/logo.jpg" style="max-width:200px"/></a>
      <h1 style="padding-left:0px"><%=@title %></h1>

    </div>
  </div>
  <!-- <div class="container-fluid" style="padding-right:0%; padding-left:0%;" >
    <div class="row">
      <div class="col-md-6" style="padding-left: 25%; height: 60px">
      <a href="/"><img src="assets/logo.jpg" style="max-width:200px"/></a>
      </div>
      <div class="col-md-6" style="padding-right:40%; padding-left:0%; height: 60px">
      <h1 style="padding-left: 20px"><%= @title %></h1>
      </div>

    </div>
  </div> -->

    </div>
  </body>
    <%= yield %>
<div class="container-fluid">
  <footer>
  <div id="nav">
    <ul>
     <li> <a href="about">about</a></li>
     <span style="padding:40px"> • </span>
     <li> contact: oenomel.us@mail.com </li>
     <span style="color: #C0C0C0; padding-left:40px"> | </span>
     <li>
       <a href="https://www.instagram.com/oenomel.us/" target="_blank"> <i class="fa fa-instagram fa-lg " aria-hidden="true"></i></a>
     </li>
     <span> </span>
     <li>
       <a href="http://www.pinterest.com/oenomel0808" target="_blank"> <i class="fa fa-pinterest-square fa-lg " aria-hidden="true"></i></a>
     </li>
     <span>  </span>
     <li>
       <a href="https://www.instagram.com/dies.ist.uns/" target="_blank"> <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
     </li>
     <span>  </span>
     <li>
       <a href="https://www.facebook.com/oenomel.us" target="_blank"> <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
     </li>
    </ul>
  </div>
  </footer>
</div>
</html>
